<div class="nav-bar">
    <form [formGroup]="filterForm">
        <div class="nav-bar__search">
            <input 
                class="nav-bar__input text-field__input" 
                type="search" 
                name="title" 
                id="title" 
                placeholder="Поиск"
                (input)="searchItems($event)"
            >
        </div>
    </form>
    <!-- add active link -->
    <ul class="nav-bar__list">
        <li class="nav-bar__item" routerLink="/">Все записи</li>
        <li class="nav-bar__item" routerLink="/deleted">Корзина</li>
        <li class="nav-bar__item" routerLink="/favorite">Избранное</li>
    </ul>
</div>