.card-list-item {
    display: flex;
    flex-direction: column;

    &__title-block, &__description-block {
        display: flex;
    }

    &__title-block {
        margin: 0 0 25px 0;
    }

    &__text {
        margin-right: 15px;
    }
}

input {
    border: none;
    background: transparent;
    outline: none;
}